################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Google.TTS/v15/Server/sqlite3
/Google.TTS/obj/Release
